
/* REQUIRED for core functionality */
.vertical-tabs .responsive-tabs__list__item--active, 
.vertical-tabs .responsive-tabs__list__item--active:hover {  background: #fff!important; border-bottom-color: #fff; color:#000!important;}
 
.responsive-tabs__panel { margin-bottom: 50px; background:#fff; }


.vertical-tabs .responsive-tabs__list { font-size: 1.2em; margin: 2em 0 0 0; padding: 0; border-bottom:0px!important; padding-bottom:11px; line-height: 1em; float:left; width:30%; margin:0}
.vertical-tabs .responsive-tabs__list li{ display:block}
.vertical-tabs .responsive-tabs__panel { margin-bottom: 50px; background:#fff; float:left; width:68%; border-top:1px solid #dddddd;}
.vertical-tabs .responsive-tabs__list__item { background: #f55907; color:#fff; padding: 10px 15px;  margin-right: 7px; border-top-left-radius: 0px!important; border-top-right-radius: 0px!important; border: 1px solid #ddd; font-size:16px; font-weight:bold; }
.responsive-tabs__heading { display: none;}
.responsive-tabs__list__item { display: inline; cursor:pointer;}


@media (max-width: 767px) {
	.responsive-tabs__list { display: none;}
	.responsive-tabs__heading { display: block; cursor: pointer; }
	.responsive-tabs__panel--closed-accordion-only { display: none;}
	
}

@media (min-width: 768px) {
	.responsive-tabs__panel--closed-accordion-only { display: block !important;}
}

@media (max-width: 1024px) {
	.responsive-tabs__list { display: none;}
	.responsive-tabs__heading { display: block; cursor: pointer; }
	.responsive-tabs__panel--closed-accordion-only { display: none;}
}

@media (min-width: 769px) {
	.responsive-tabs__panel--closed-accordion-only { display: block !important;}
}

/* END - Required for core functionality */


/* OPTIONAL - Basic Skin */

.responsive-tabs-wrapper { 
	clear: both;
	zoom: 1; 
}
.responsive-tabs-wrapper:before,
.responsive-tabs-wrapper:after {
    content: "";
    display: table;
} 
.responsive-tabs-wrapper:after {
    clear: both;
}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus { outline: 1px solid #ccc;  }

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus { outline: none !important;}

.responsive-tabs__list { font-size: 1.2em; margin: 2em 0 0 0; padding: 0;border-bottom: 1px solid #ddd; padding-bottom:11px; line-height: 1em;}

.responsive-tabs__list__item { background: #f55907; color:#fff; padding: 10px 15px;  margin-right: 7px; border-top-left-radius: 5px; border-top-right-radius: 5px;border: 1px solid #ddd; font-size:16px; font-weight:bold; }
.responsive-tabs__list__item:hover {background: #efefef }
.responsive-tabs__list__item--active, 
.responsive-tabs__list__item--active:hover {  background: #fff; border-bottom-color: #fff; color:#000;}

.vertical-tabs .responsive-tabs__list__item--active, 
.vertical-tabs .responsive-tabs__list__item--active:hover {  background: #fff!important; border-bottom-color: #fff; color:#000!important;}
 
.responsive-tabs__panel { margin-bottom: 50px; background:#fff;}


.vertical-tabs .responsive-tabs__list { font-size: 1.2em; margin: 2em 0 0 0; padding: 0; border-bottom:0px!important; padding-bottom:11px; line-height: 1em;  margin:0}
.vertical-tabs .responsive-tabs__list li{ display:block}
.vertical-tabs .responsive-tabs__panel { margin-bottom: 50px; background:#fff; float:none!important  border-top:1px solid #dddddd;}
.vertical-tabs .responsive-tabs__list__item { background: #f55907; color:#fff; padding: 10px 15px;  margin-right: 7px; border-top-left-radius: 0px!important; border-top-right-radius: 0px!important; border: 1px solid #ddd; font-size:16px; font-weight:bold; }



@media (max-width: 767px) {
	.responsive-tabs__heading { 
		padding: 0.5em; border-radius: 5px; border: 1px solid #ccc; box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
		background: #ddd;
		position: relative;
	}

	.responsive-tabs__heading:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		top: 40%;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
	}
	.responsive-tabs__heading:hover,
	.responsive-tabs__heading--active:hover { background-color: #efefef}
	.responsive-tabs__heading--active { background: #fff;}
	.responsive-tabs__heading--active:after {
		border-bottom: 10px solid #000;
		border-top:0;
	 }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	.responsive-tabs__heading { 
		padding: 0.5em; border-radius: 5px; border: 1px solid #ccc; box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
		background: #ddd;
		position: relative;
	}

	.responsive-tabs__heading:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		top: 40%;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
	}
	.responsive-tabs__heading:hover,
	.responsive-tabs__heading--active:hover { background-color: #efefef}
	.responsive-tabs__heading--active { background: #fff;}
	.responsive-tabs__heading--active:after {
		border-bottom: 10px solid #000;
		border-top:0;
	 }
}

/* END - Optional - Basic Skin */
